<div class="row footer">
        <div class="col footer-supertruck">SUPERTRUCK</div>
        <div class="col">
            <h6>Informacion y Ayuda</h6>
            <ul>
                <li>Nullam non nisl ac purus</li>
                <li>Mauris quis dolor in mi</li>
                <li>Pellentesque id est</li>
                <li>Aenean in tortor eu nunc</li>
            </ul>
        </div>
        <div class="col">
            <h6>Contacto</h6>
            <ul>
                <li>Nullam non nisl ac purus</li>
                <li>Mauris quis dolor in mi</li>
                <li>Pellentesque id est</li>
                <li>Aenean in tortor eu nunc</li>
            </ul>
        </div>
        <div class="col">
            <h6>Redes sociales</h6>
            <ul>
                <li>Nullam non nisl ac purus</li>
                <li>Mauris quis dolor in mi</li>
                <li>Pellentesque id est</li>
                <li>Aenean in tortor eu nunc</li>
            </ul>
        </div>
    </div>
</div>

<!-- Boostrap usa las librerias de jQuery y Popper, asi que hay que copiar sus CDNs de las paginas webs de cada una -->

<script src="../public/js/jquery-3.3.1.min.js"></script>
<script src="../public/js/popper.min.js"></script>
<script src="../public/js/bootstrap.min.js"></script>