<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SUPERTRUCK</title>
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/style.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <div><a href="/" class="col header-supertruck">SUPERTRUCK</a></div>
            <div class="col">
                <a href="carrierSignIn" class="btn">Carrier</a>
            </div>
            <div class="col">
                <a href="driverSignIn" class="btn">Driver</a>
            </div>
            <div class="col">
                <a href="loadOwnerSignIn" class="btn">Load Owner</a>
            </div>
            <div class="col">
                <a href="whPickUpSignIn" class="btn">Warehouse PickUp</a>
            </div>
            <div class="col">
                <a href="whReceiverSignIn" class="btn">Warehouse PickUp</a>
            </div>
        </div>