<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SUPERTRUCK</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col header-supertruck">SUPERTRUCK</div>
            <div class="col">
                <button class="btn">Carrier</button>
            </div>
            <div class="col">
                <button class="btn">Driver</button>
            </div>
            <div class="col">
                <button class="btn">Load Owner</button>
            </div>
            <div class="col">
                <button class="btn">Warehouse PickUp</button>
            </div>
            <div class="col">
                <button class="btn">Warehouse Receiver</button>
            </div>
        </div>
        <div class="row">
            <h2>Driver</h2>           
            <table class="table table-striped">
                <thead>
                <tr class="green-strap">
                    <th>Firstname</th>
                    <th>Lastname</th>
                    <th>Address</th>
                    <th>License</th>
                    <th>Truck Tag</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Date</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                </thead>
                <tbody>
                <tr class="grey-strap">
                    <td>John</td>
                    <td>John</td>
                    <td>John</td>
                    <td>John</td>
                    <td>John</td>
                    <td>John</td>
                    <td>John</td>
                    <td>John</td>
                    <td>Doe</td>
                    <td>john@example.com</td>
                </tr>
                <tr class="green-strap">
                    <td>Mary</td>
                    <td>Mary</td>
                    <td>Mary</td>
                    <td>Mary</td>
                    <td>Mary</td>
                    <td>Mary</td>
                    <td>Mary</td>
                    <td>Mary</td>
                    <td>Moe</td>
                    <td>mary@example.com</td>
                </tr>
                <tr class="grey-strap">
                    <td>July</td>
                    <td>July</td>
                    <td>July</td>
                    <td>July</td>
                    <td>July</td>
                    <td>July</td>
                    <td>July</td>
                    <td>July</td>
                    <td>Dooley</td>
                    <td>july@example.com</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="row">
            <h2>Trucks</h2>           
            <table class="table table-striped">
                <thead>
                <tr class="green-strap">
                    <th>Driver</th>
                    <th>Tag</th>
                    <th>Color</th>
                    <th>Model</th>
                    <th>Year Tag</th>
                    <th>Picture</th>
                    <th>Type</th>
                    <th>Feet</th>
                    <th>Date</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                </thead>
                <tbody>
                <tr class="grey-strap">
                    <td>John</td>
                    <td>XLH123</td>
                    <td>Red</td>
                    <td>Volvo</td>
                    <td>2018</td>
                    <td>pic.jpg</td>
                    <td>flatbed</td>
                    <td>53"</td>
                    <td>2018/11/24</td>
                    <td>Edit</td>
                    <td>Delete</td>
                </tr>
                <tr class="green-strap">
                    <td>Susy</td>
                    <td>XLH123</td>
                    <td>Red</td>
                    <td>Volvo</td>
                    <td>2018</td>
                    <td>pic.jpg</td>
                    <td>flatbed</td>
                    <td>53"</td>
                    <td>2018/11/24</td>
                    <td>Edit</td>
                    <td>Delete</td>
                </tr>
                <tr class="grey-strap">
                    <td>Salvi</td>
                    <td>XLH123</td>
                    <td>Red</td>
                    <td>Volvo</td>
                    <td>2018</td>
                    <td>pic.jpg</td>
                    <td>flatbed</td>
                    <td>53"</td>
                    <td>2018/11/24</td>
                    <td>Edit</td>
                    <td>Delete</td>
                </tbody>
            </table>
        </div>
        <div class="row footer">
            <div class="col footer-supertruck">SUPERTRUCK</div>
            <div class="col">
                <h6>Informacion y Ayuda</h6>
                <ul>
                    <li>Nullam non nisl ac purus</li>
                    <li>Mauris quis dolor in mi</li>
                    <li>Pellentesque id est</li>
                    <li>Aenean in tortor eu nunc</li>
                </ul>
            </div>
            <div class="col">
                <h6>Contacto</h6>
                <ul>
                    <li>Nullam non nisl ac purus</li>
                    <li>Mauris quis dolor in mi</li>
                    <li>Pellentesque id est</li>
                    <li>Aenean in tortor eu nunc</li>
                </ul>
            </div>
            <div class="col">
                <h6>Redes sociales</h6>
                <ul>
                    <li>Nullam non nisl ac purus</li>
                    <li>Mauris quis dolor in mi</li>
                    <li>Pellentesque id est</li>
                    <li>Aenean in tortor eu nunc</li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Boostrap usa las librerias de jQuery y Popper, asi que hay que copiar sus CDNs de las paginas webs de cada una -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>
</html>